.hero {
  background-image: url('roughheader.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

ul.check li {
  list-style: none;
//  font-size: 2em;
}
ul.check li:before {
  font-family: 'FontAwesome';
  content:"\f00c";
  margin-right: 10px;
}
